/* Default styling */

* {
    margin: 0;
    padding: 0;
    outline: solid ed 1px;
}

:root {
    --yellow: #fff69b;
    --pink: #fe93b3;
    --purple: #7567a4;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../Images/Backgrounds/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
}

@media (prefers-reduced-motion) {
    body {
        animation: none;
    }
}

/* end of default styling */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* skiip nav link */

.skip-nav-link {
    position: absolute;
    right: 0;
    margin: .5em 1em;
    padding: .3em .4em;
    color: white;
    background: linear-gradient(to right, #ec008c, #fc6767);
    border-radius: .2em;
    transform: translateY(-5em);
    transition: 250ms ease-out;
}

.skip-nav-link:focus {
    transform: translateY(0);
}

/* Begin styling header and navigation */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    box-shadow: 0 .1em .5em 0 #000000;
    transition: 250ms ease-in-out;
    z-index: 999;
}

header p a {
    position: absolute;
    margin-left: .4em;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    opacity: 1;
    text-shadow: .1em .1em .1em #000000;
    font-size: 1.8rem;
    animation-name: logo-opacity;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes logo-opacity {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .3;
    }

    50% {
        opacity: .6;
    }

    75% {
        opacity: .9;
    }

    100% {
        opacity: 1;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    animation-name: ul-transverse;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes ul-transverse {
    0% {
        transform: translateX(90em);
    }

    50% {
        transform: translateX(45em);
    }

    80% {
        transform: translateX(-2em);
    }

    85% {
        transform: translateX(3em);
    }

    90% {
        transform: translateX(-1em);
    }

    95% {
        transform: translateX(2em);
    }

    100% {
        transform: translateX(0em);
    }
}

nav li {
    position: relative;
    margin: 1em 2em;
    padding: .5em;
    transition: 250ms ease-in-out;
}

nav ul li:nth-child(1):hover {
    transform: none;
}

nav a {
    padding: .5em;
    color: white;
    transition: 200ms ease-in-out;
}

/* styling pesudo elements in the header and navigation */

.home-li-item::before {
    transform: scale(1);
}

nav li:hover {
    transform: scale(1.1);
}

nav li:hover a::before,
nav li:focus a::before {
    transform: scale(1);
}

nav a:hover {
    text-shadow: .1em .1em .1em #000000;
}

nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .25em;
    background: linear-gradient(to right, #ec008c, #fc6767);
    border-radius: 1em;
    transform: scale(0, 1);
    transition: 250ms ease-in-out;
}


/* main content styling starting with first article. */

main {
    padding: 2.5em 0 0 0;
}


/* intro  before section 1*/

.intro {
    /* opacity: 0; */
    margin-top: 38vh;
    margin-bottom: 50vh;
    font-size: 4rem;
    font-weight: bold;
    font-weight: 300;
    color: white;
    text-shadow: 0 0 .1em #000000;
    text-align: center;
    transition: 500ms ease-in-out;
}

/* first section where I am displaying two cards with some of my work and a little
paragraph that introduces my sections element */

.sec-1-btn {
    position: sticky;
    top: 4em;
    border: none;
    border-radius: .2em;
    box-shadow: 0 0 .2em .1em #ec008c;
    background-color: #000;
    font-weight: 700;
    transform: rotateZ(-10deg);
    padding: .5em 1em;
    margin: 1em;
    transition: 250ms ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.sec-1-btn a {
    color: white;
}

.sec-1-btn:hover {
    transform: scale(1.1) rotateZ(20deg);
}

.section-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    overflow: hidden;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.sec-1-p {
    opacity: 0;
    transform: translateX(-20em);
    margin-left: 2em;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition: 500ms ease;
}

.fancy-sec-1-p-link {
    color: white;
    background: linear-gradient(to right, #f857a6, #ff5858);
    background-size: 0% .15em;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 750ms ease;
}

.fancy-sec-1-p-link:hover, :focus {
    background-size: 100% .15em;
}

.card-container {
    /* background-color: #000000; */
    display: flex;
    justify-content: center;
    transform: translateX(60em);
    transition: 700ms ease-out;
    transition-delay: 250ms;
}

.card-container:hover .card {
    transform: scale(.8) translateY(-5em);
    box-shadow: 0 .2em .5em 0 #000;
}

.card-container:hover .card-bg {
    opacity: 1;
    transform: translateY(2em) scale(1);
    transition: 150ms ease-in-out;
}

.card {
    position: relative;
    height: 18em;
    width: 13em;
    background-color: #000;
    border-radius: 1em;
    cursor: pointer;
    transition: 175ms ease-in-out;
    box-shadow: 0 .3em .7em .1em #000;
}

.card-link:focus .card {
    transform: scale(.8) translateY(-5em);
    box-shadow: 0 .2em .5em 0 #000;
}

.card-link:focus ~ .card-bg {
    opacity: 1;
    transform: translateY(2em) scale(1);
    transition: 150ms ease-in-out;
}

.card-link:active .card {
    transform: translateY(-4em) scale(.6);
}

#card-one {
    background-image: url(../Images/cardPhotos/card-1.png);
    background-size: cover;
    z-index: 0;
}

#card-two {
    background-image: url(../Images/cardPhotos/card-2.jpg);
    background-position: 50% 35%;
    z-index: 0;
}

.card-bg {
    position: absolute;
    width: 15em;
    height: 18em;
    border-radius: 1em;
    background-color: rgb(70, 70, 70);
    opacity: 0;
    transform: translateY(2em) scale(.6);
    box-shadow: 0 .2em .5em 0 #000, inset 0 0 .2em 0 #000;
    overflow: hidden;
    z-index: -1;
}

.banner {
    position: absolute;
    left: 3.5%;
    background-color: #000;
    box-shadow: 0 0 .3em 0 #000;
    width: 1.3em;
    height: 1.6em;
    cursor: pointer;
    border-radius: 0 0 .3em .3em;
    display: flex;
    justify-content: center;
    nav-index: none;
}

.banner a {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}

.languageIconContainer {
  filter: drop-shadow(0 .1em .2em #000);
  margin: 0 .3em;
}

.languageIcons {
    font-size: 1.3em;
    text-align: center;
    margin-top: 80%;
    bottom: 0;
    background: linear-gradient(to right, #f857a6, #ff5858);
    clip-path: polygon(50% 0%, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
}

.languageIcons-2 {
    font-size: 1.3em;
    text-align: center;
    margin-top: 80%;
    bottom: 0;
    background: linear-gradient(to right, #4776e6, #8e54e9);
    clip-path: polygon(50% 0%, 100% 0, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 0);
}

.languageIcons i {
    padding: 0 .2em;
}

.card-p {
    font-size: small;
    text-align: center;
    position: inherit;
    bottom: 0;
    color: white;
    padding: .5em 3em 1.5em 3em;
}

/* This is styling for the view more button for the cards section. It will have a cool animation to it on scroll and on click */

.view-more-container {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    justify-content: center;
    opacity: 0;
    transition: 2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.view-more-container div {
    padding: 0 .5em;
    font-size: 3em;
    font-weight: 1000;
    width: max-content;
    height: max-content;
    transition: 600ms ease-in;
}

.view-more-container div:nth-child(1) {
    background: linear-gradient(to right, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-more-container div:nth-child(2) {
    background: linear-gradient(to right, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-more-container div:nth-child(3) {
    background: linear-gradient(to right, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-more-container div:nth-child(4) {
    background: linear-gradient(to right, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.space {
    width: 2em;
}



.view-more-container div:nth-child(6) {
    background: linear-gradient(to right, #aa076b, #61045f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-more-container div:nth-child(7) {
    background: linear-gradient(to right, #aa076b, #61045f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-more-container div:nth-child(8) {
    background: linear-gradient(to right, #aa076b, #61045f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.view-more-container div:nth-child(9) {
    background: linear-gradient(to right, #aa076b, #61045f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* this is editing for section 2 where I showcase my training and education */

.sec-2-btn {
    position: sticky;
    top: 4em;
    border: none;
    border-radius: .2em;
    box-shadow: 0 0 .2em .1em #8e54e9;
    background-color: #000;
    font-weight: 700;
    transform: rotateZ(10deg);
    padding: .5em 1em;
    margin: 1em;
    transition: 250ms ease-in-out;
    cursor: pointer;
    z-index: 999;
    transition: transform 250ms ease-in-out;
}

.sec-2-btn a {
    color: white;
}

.sec-2-btn:hover {
    transform: scale(1.1) rotateZ(-25deg);
}

.section-2 {
    margin-top: 10em;
}

.section-2-heading {
    line-height: 2em;
    margin: 2em 5em;
    font-size: 2em;
    text-align: center;
    color: white;
}
/* start editing the tile layout for section 2 that contains all of my education and training content */
.tilelayout-container {
    margin-top: 10em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tile-front-and-main-content {
    position: relative;
    background-color: #000;
    border-right: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.tile-front-and-main-content:nth-child(3) h4 {
    padding-bottom: 0;
}

.tile-front-and-main-content:nth-child(3) p {
    padding-top: 2.5em;
}
.tile-front-and-main-content:nth-child(5) h4 {
    padding-bottom: 1em;
}

.tile-front-and-main-content:nth-child(5) p {
    padding-top: 2.5em;
}
.tile-front-and-main-content:nth-child(6) h4 {
    padding-bottom: 1em;
}


.tile-front-and-main-content h4 {
    font-size: 2em;
    font-weight: 900;
    margin-top: 1em;
    padding: .5em;
    transition: transform 500ms ease-in;
}

.tile-front-and-main-content p {
    font-size: 1.3em;
    margin-bottom: 2em;
    padding: 3.5em 3em;
    transition: transform 500ms ease-in, opacity 250ms ease-in;
}

.tile-front-and-main-content:hover p:not(.codewars-paragraph) {
    opacity: 0;
    transform: translateY(-10em);
}

.tile-front-and-main-content:hover .tile-bg-content {
    opacity: 1;
}

/* .tile-front-and-main-content:hover .codewars-paragraph {
    transform: scale(1, 1);
    transition-delay: 750ms;
} */

.tile-bg-content {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 70%);
    border-right: solid black 1px;
    height: 102%;
    width: 102%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: visible;
    transition: opacity 250ms ease-in-out;
    z-index: 100;
}

/* 
.tile-bg-content img {
    box-shadow: 0 0 .4em 0 #61045f;
    border-radius: 6px;
}

Thois is for the code wats section
.code {
    position: absolute;
    bottom: 10%;
    width: 15em;
}

.rank {
    position: absolute;
    width: 20em;
    height: 12em;
    bottom: -50%;
}

.stats {
    position: absolute;
    width: 20em;
    height: 12em;
    transform: rotate(-20deg);
    bottom: -15%;
    right: -60%;
    z-index: 999;
}

.codewars-paragraph {
    all: unset;
    transform: scale(0, 1);
    transform-origin: left;
    position: absolute;
    width: 30em;
    text-align: left;
    left: -5%;
    background-color: #f857a6;
    color: #000;
} */







/* footer styles */

.footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
}





































/* media queries */

@media screen and (max-width: 960px) {

    body {
        background-position: center;
    }

    header {
        background-color: #000;
        transform: scale(0, 1);
        transform-origin: right;
    }

    .mobile-header-show {
        transform: scale(1, 1);
    }

    header p {
        display: none;
    }

    nav {
        all: unset;
        
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        /* all: unset; */
        transition: 250ms ease-in-out;
    }

    nav ul.list-display-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .list-display-grid a::before {
        left: 30%;
    }

    nav a::before {
        width: 35%;
        transform-origin: left;
    }

    .home-li-item::before {
        display: none;
    }


    nav ul li:nth-child(1):hover {
    transform: scale(1.1);
    }

    .side-menu-toggle-body {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        margin-right: 1em;
        right: 0;
        padding: 1em;
        transition: 250ms ease-in-out;
        cursor: pointer;
        z-index: 1000;
    }

    .toggle-span {
        left: 0;
    }

    .toggle-span:nth-child(1) {
        position: absolute;
        top: 25%;
        width: 100%;
        height: .2em;
        background-color: #757575;
        border-radius: 2em;
        transition: 250ms ease-in-out;
    }

    .toggle-span:nth-child(1).active {
        position: absolute;
        top: 50%;
        width: 100%;
        height: .2em;
        background-color: #757575;
        border-radius: 2em;
        transform: rotate(45deg);
    }

    .toggle-span:nth-child(2) {
        position: absolute;
        width: 100%;
        height: .2em;
        background-color: #757575;
        border-radius: 2em;
        transition: 250ms ease-in-out;
    }

    .toggle-span:nth-child(2).active {
        position: absolute;
        width: 100%;
        height: .2em;
        opacity: 0;
        border-radius: 2em;
    }

    .toggle-span:nth-child(3) {
        position: absolute;
        bottom: 18%;
        width: 100%;
        height: .2em;
        background-color: #757575;
        border-radius: 2em;
        transition: 250ms ease-in-out;
    }

    .toggle-span:nth-child(3).active {
        position: absolute;
        bottom: 40%;
        width: 100%;
        height: .2em;
        background-color: #757575;
        border-radius: 2em;
        transform: rotate(-45deg);
    }

    /* intro */

    .intro {
        padding: 2em 0;
        margin: auto;
        text-align: center;
        word-wrap: break-word;
        width: 75%;
    }

    /* section one */

    .section-one {
        grid-template-columns: 1fr;
    }

    .sec-1-p {
        opacity: 0;
        transform: translateX(-20em);
        text-align: center;
        margin: auto;
        padding: 0 1em;
    }

    .card-container {
        margin: 2em;
    }

    /* view more button with cool animation */

    .view-more-container {
        display: grid;
        grid-template-columns: repeat(4, 4em);
        gap: 1em 0;
        justify-items: center;
        align-items: center;
        transition-delay: 1s;
    }

    .space {
        display: none;
    }

    .section-2-heading {
        font-size: 1.5em;
        margin: 0;
        padding: 0 1em;
    }


    .tilelayout-container {
        grid-template-columns: 1fr;
    }

}















@media  screen and (min-width: 1500px) {
    .nav-list a {
        font-size: 1.3em;
    }

    .intro {
        font-size: 6em;
    }

    .sec-1-p {
        font-size: 1.6em;
        line-height: 1.4em;
    }

    .card {
        height: 22em;
        width: 16em;
    }

    .card-bg {
        height: 22em;
        width: 18em;
    }

    .languageIcons {
        margin-top: 90%;
    }
    
    .languageIcons-2 {
        margin-top: 90%;
    }
    
    .languageIcons i {
        padding: .4em .5em;
    }

    .languageIcons-2 i {
        padding: .4em .5em;
    }
    
    .card-p {
        font-size: 1em;
    }

    .sec-1-btn {
        padding: 1em 1.8em;
    }

    .sec-2-btn {
        padding: 1em 1.8em;
    }

}